body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
}

header {
  text-align: center;
  padding: 260px 0 260px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(../img/visit-ticino-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
header a {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: whitesmoke;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

main {
  background-color: white;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: left;
  opacity: 30%;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}
main img {
  max-width: 100%;
  margin: 0 auto;
}
section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 100px 50px;
}

footer {
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/visit-ticino-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 {
  background-image: url(../img/whyticino.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer a {
  color: white;
  opacity: 0.7;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer p {
  opacity: 0.9;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 20px;
  }

  main img {
    display: none;
  }
  footer {
    padding: 50px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .footer-only-bs {
    display: none;
  }
}
